apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: ghcr.io/mlflow/mlflow
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: MLFLOW_BACKEND_STORE_URI
              value: sqlite:///database/mlflow.db
            - name: MLFLOW_DEFAULT_ARTIFACT_ROOT
              value: file:///mlflow
            - name: MLFLOW_TRACKING_SERVER_HOST
              value: mlflow.mlflow.svc
            - name: MLFLOW_TRACKING_INSECURE_TLS
              value: "true"
          command:
            - mlflow
          args:
            - server
            - --host=0.0.0.0
            - --port=5000
            - --workers=4
            - --allowed-hosts=*
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 1
              memory: 1Gi
          volumeMounts:
            - name: mlflow
              mountPath: /mlflow
            - name: mlruns
              mountPath: /mlruns
            - name: database
              mountPath: /database
      volumes:
        - name: mlflow
          persistentVolumeClaim:
            claimName: mlflow
        - name: mlruns
          persistentVolumeClaim:
            claimName: mlruns
        - name: database
          persistentVolumeClaim:
            claimName: database